/* The main scrollbar CSS class of ScrollBar */
.scroll-bar:horizontal ,
.scroll-bar:vertical{
    -fx-background-color:transparent;
    -fx-focus-color: transparent;
}

/* The increment and decrement button CSS class of ScrollSar */
.increment-button ,
.decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:derive(gray,0%);
}

/*The main ScrollBar **track** CSS class  */
/*
.list-view .scroll-bar:horizontal .track ,
.list-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive(gray,0%);
    -fx-background-radius: 0em;
}
*/

/* The main ScrollBar **thumb** which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
}
/* The bottom left corner, the point where the vertical & horizontal slider meet */
.scroll-pane > .corner {
    -fx-background-color:derive(black,90%);
}