/* ############## */
/* The Main Background-Color */
/* ############## */
.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #1d1d1f;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-shadow-highlight-color: transparent;
    -fx-faint-color: transparent;
}

/* Changing Color of all Text Labels */
.label {
    -fx-text-fill: WHITE;
}

/* THE BOX for the TAB PANE "Boxes"/TABS */
VBox {
-fx-background-color: #2d2d30;
}

/* ######### */
/* TAB PANE */
/* ######### */
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}

/* TAB BACKGROUND COLOR ALL */
.tab-pane .tab
{
    -fx-background-color: rgba(61, 61, 64, 0.77);
}

/* Special TABS COLOR */
#tab-pane-special-tabs
{
    -fx-background-color: rgba(29, 29, 31, 0.73);
}
/* Special TABS Selected COLOR */
#tab-pane-special-tabs:selected
{
    -fx-background-color: rgba(83, 0, 6, 0.73);
}

/* CURRENT SELECTED TAB */
.tab-pane .tab:selected
{
    -fx-background-color: #530006;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* TAB TEXT COLOR */
.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: WHITE;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

/* Selected TAB */
.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: WHITE;
}


/* Changing all Buttons */
.button{
    -fx-background-color: BLACK;
    -fx-text-fill: WHITE;
    -fx-font-size: 12px;
    -fx-background-radius: 25;
    /* -fx-pref-height: 30px;
    -fx-pref-width: 130px; */
    -fx-min-width: 130px;
    -fx-padding: 8px;
    -fx-wrap-text: true;
    -fx-border-color: WHITE;
    -fx-border-radius: 25px;
    -fx-border-width: 1px;
    -fx-background-insets: 0, 0 0 1 0;
 }
/* BUTTON COLOR ON HOVER */
.button:hover{
    -fx-background-color: #555555;
    -fx-text-fill: WHITE;
    -fx-background-radius: 25;
}

/* Only for the Employee Information Box: ManageEmployeeWindows.fxml */
#employee-information-box-headings{
    -fx-text-fill: BLACK;
}

/* ######## */
/* COMBOBOX */
/* ######## */

/* The color of the dropdown label & it's text */
.combo-box, .list-cell{
    -fx-background-color: #2d2d30;
    -fx-text-fill: WHITE;
}

/* The color of the dropdown arrow */
.combo-box .arrow{
    -fx-background-color: WHITE;
}

/* The color of the dropdown/combo-box found in the AddCourseWindow */
#combo-box-add-course-location,
#combo-box-add-course-location > .list-cell {

    -fx-background-color: WHITE;
    -fx-text-fill: BLACK;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3px;
}

/* The color of the dropdown arrow found in the AddCourseWindow */
#combo-box-add-course-location .arrow{
    -fx-background-color: BLACK;
}

/* The color of the dropdown menu that drops down after clicking on it */
.combo-box .combo-box-popup .list-view,
.combo-box .combo-box-popup .list-cell {
    -fx-background-color: #2d2d30 ;
    -fx-text-fill: WHITE ;
    /* -fx-font-family: "Calibri" ; */
}

/* The color of the cell you are hovering over */
.combo-box .combo-box-popup .list-cell:hover {
    -fx-text-fill: WHITE;
    -fx-background-color: rgba(228, 82, 91, 0.85) ;
}

/* The color of the cell currently selected so it gets highlighted */
.combo-box .combo-box-popup .list-cell:selected{
    -fx-text-fill: WHITE ;
    -fx-background-color: rgba(228, 82, 91, 0.85) ;
}

/* The main scrollbar CSS class of ListView */
.combo-box .scroll-bar:horizontal ,
.combo-box .scroll-bar:vertical{
    -fx-background-color:transparent;
}

/* The increment and decrement button of scrollbar */
.combo-box .increment-button ,
.combo-box .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:derive(gray,0%);
}


/* The main scrollbar **thumb** which we drag every time (movable) */
.combo-box .scroll-bar:horizontal .thumb,
.combo-box .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
}

/* The Color for the Error msg if no database connection found */
#noDatabaseConnectionErrorMSG{
    -fx-background-color: RED;
    -fx-text-fill: WHITE;
}


